<%- include('components/head.ejs') %>
    <%- include('bootstrap/css.ejs') %>
    <link rel="stylesheet" href="/css/budget.css">
</head>
<body>
    <%- include('components/navbar.ejs') %>
    <h1><%= active %></h1>
    <%- include('bootstrap/js.ejs') %>
</body>
</html>